
<!DOCTYPE html>
<html lang="en">
  
<body>


        <form>
            <button type="submit" formaction="http://127.0.0.1:5000/logout">
                LogOut
            </button>
        </form>

    <center>
    <h1>Folder/File System </h1>
    </center>
    <form >

        <center>
        <button type="submit" formaction="http://127.0.0.1:5000/createfolder">
            Create Folder
        </button>
        
        <button type="submit" formaction="http://127.0.0.1:5000/list">
            Folder List
        </button>

        <button type="submit" formaction="http://127.0.0.1:5000/upload">
            Upload File
        </button>
        <button type="submit" formaction="http://127.0.0.1:5000/download">
            Download File
        </button>
        <button type="submit" formaction="http://127.0.0.1:5000/delete">
            Delete File
        </button>
    </center>
    </form>
</body>
  
</html>