<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<body>

    <form >
        <button type="submit" formaction="http://127.0.0.1:5000/index">
            Home
        </button>
    </form>

    <h1>Select File</h1>

<form action="http://127.0.0.1:5000/downloadfile" method="POST" enctype="multipart/form-data">
    
    <select id="File" name="File">
        {% for file in list1[1] %}
          <option value="{{file}}"SELECTED>{{file}}</option>
        {% endfor %}
        </select> 
    <input type = "text" id = "folder" name = "folder" value = {{list1[0]}} readonly = "readonly" >
    <!---input type = "txt"  name = "Folder"--->
    <input type="submit" value="Download" >



</form>
</body>
</html>