<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<body>
    <form >
        <button type="submit" formaction="http://127.0.0.1:5000/index">
            Home
        </button>
    </form>

    <h1>Select Folder</h1>

<form action="http://127.0.0.1:5000/listfile" method="POST" enctype="multipart/form-data">
    
    <select id="Folder" name="Folder">
        {% for folder in folderlist %}
          <option value="{{folder}}"SELECTED>{{folder}}</option>
        {% endfor %}
        </select> 
    <!---input type = "txt"  name = "Folder"--->
    <input type="submit" value="send" >


</form>
</body>
</html>